---
let title = "Documentation how to work and install this template";
let btn = "Read Documentation";
let url = "https://www.hockeycomputindo.com/2022/07/limousine-website-template-with-astro.html";
---
<div class="text-center p-3 col-md-12">
<p>{title}<br/>
<a href={url} class="btn btn-outline-dark btn-lg">{btn}</a>
</p>
</div>