---
let pre = "Premium Themes →";
let url = "https://limousinewebsite.vercel.app/";
let hire = "Hire Me Now →";
let urls = "https://www.fiverr.com/creativitas/design-your-modern-website-using-jekyll";
---
<div class="col-md-12 p-3 p-md-5 text-center"><a href={url} class="border border-dark p-3">{pre}</a> <a href={urls} class="border border-dark p-3">{hire}</a></div>